body{
    position: relative;
    font-family: 'Dosis', sans-serif !important;
    padding-bottom: 150px;      /*FOR FOOTER TO STAY AT THE LAST*/
}

/* Navbar */
.navbar {
    background-color: #08AEEA;
    background-image: linear-gradient(61deg, #08AEEA 0%, #2AF598 100%);   
}

.navbar-brand{
    font-family: 'Sedgwick Ave', cursive;
    letter-spacing: 3px;
}

.brand{
    margin-left: 50px;
}



/* Card */
.carddisplay{
    display: inline-block;
}

.card{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}

.carddisplay:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 5px 0 rgba(255, 213, 0, 0.3);
}

.cardo{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    flex-wrap: wrap;
}

select{
    background-color: #9bdcf3;
    border-radius: 5px;  
    color: #000000;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    margin: 0px;
}


/* Footer */
.foot{
    position: absolute;
    bottom: 0;
    background-color: #08AEEA;
    background-image: linear-gradient(61deg, #08AEEA 0%, #2AF598 100%);   
    width: 100%;
    padding-top: 30px;
    color: #fff;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    margin: 0px 20px;
}

.copyright{
    font-size: 20px;
    font-family: 'Sedgwick Ave', cursive;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Search */
.search{
    position: relative;
    z-index: 1;
    bottom: 150px;
    width: 50%;
    margin: 0px auto;
}

/* Title */
.title{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: fit-content; 
    text-align: center;
    margin-top: 150px;
    z-index: 2;
    color: #fff;
}

.titleHead{
    font-family: 'Satisfy';
    font-size: 150px;
}

.titleSub{
    margin-top: 4px;
    text-align : center; 
    font-size : 30px; 
    color : gold;
}


/* Responsive */
/* Ipad and Desktop */
@media only screen and (min-width: 750px) and (max-width: 1150px) {        
    .search{
        position: relative;
        z-index: 1;
        bottom: 130px;
        width: 50%;
        margin: 15px auto;
    }

    .title{
        margin-top: 70px;
    }

    .titleHead{
        font-size: 90px;
    }

    .titleSub{
        font-size: 16px;
    }
    
}

/* Mobile */
@media only screen and (max-device-width : 749px)  {
    .search{
        position: initial;
        z-index: 0;
        bottom: 130px;
        width: 50%;
        margin: 15px auto;
    }

    .title{
        margin-top: 10px;
    }

    .titleHead{
        display: none;
    }

    .titleSub{
        display: none;
    }

    .brand{
        margin-left: 10px;
    }
}