.head{
    color: gold;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Satisfy';
    font-weight: bolder;
    font-size: 900px;
    margin-top: 20px;
}

.carddisplay{
    display: inline-block;
    margin: 20px 0px;
    z-index: 30;
}

.cardi{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    min-height: 400px;
}

.carddisplay:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 5px 0 rgba(255, 213, 0, 0.3);
}

.cardo{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    flex-wrap: wrap;
}

select{
    background-color: rgba(255, 215, 0, 0.8);
    border-radius: 5px;  
    color: #000000;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    margin: 0px;
}

.addcart{
    border: solid;
    border-radius: 6px;
    border-width: 2px;
    margin-top: 10px;
    width: 100%;
    background-color: rgba(255, 215, 0, 0.8);
}

.srchbtn{
    border-color: #ffd700 !important;
    color: #ffd700;
    margin-left: 10px;
}

.srchbtn:hover{
    background-color: #ffd700;
    color: black;
}
