.sign{
    height: 100vh;
}

.done{
    display: flex;
    margin: 40px 100px;
    color: white;
}

.heading{
    display: inline-block;
    text-decoration: underline;
    color: #e8c500;
    font-weight: bolder;
    font-size: 50px;
}

.col{
    color:#ffd700 !important;
}

.price{
    margin-left: auto;
    display: inline;
    font-weight: bolder;
    color: white;
}

.chckout{
    margin-left: auto;
    display: inline;
    height: 60px;
    width: 130px;
    border: none;
    background-color: #ffd700;
    border-radius: 10px;
    font-size: larger;
    font-weight: bolder;
    color: black;
}

.chckout:hover{
    background-color: rgba(255, 215, 0, 0.8);
    border: solid;
    border-color: black;
    border-width: 0.1px;
}


.tabl{
    display: flex;
    justify-content: center;
    border: solid;
    margin: 40px 100px;
    padding: 20px;
    background-color: transparent;
    font-weight: bolder;
    font-size: 23px;
    color: white;
}



#wave{
    position: absolute;
    bottom: 0px;
    z-index: -1;
}