.sign{
    height: 100vh;
}

.con:hover{
    transform: scale(1.03);
}

#wave{
    position: absolute;
    bottom: 0px;
    z-index: -1;
}

.con{
    height: 500px;
    width: 750px;
    margin: 0px auto;
    border-style: solid;
    position: relative;
    top: 70px;
    padding: 0px 50px;
    width: 40%;
}

.formula{
    margin: 40px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.labelo{
    margin-top: 15px;
}

.btno{
    margin-top: 30px;
    width: 120px;
    background-color: rgba(255,255,255,0.1);
    border: solid;
    border-width: 0.5px;
    display: inline;
}

.btno:hover{
    background-color: rgba(255,255,255,0.5);
}

.btnol{
    display: inline !important;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    width: 120px;
    height: 30px;
    margin-top: 10px;
    padding: 4px;
    text-decoration: none;
}

.btnol:hover{
    background-color: rgba(0,0,0,1);
}


@media only screen and (max-device-width : 749px){
    .con{
        width: 300px;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1150px){
    .con{
        width: 500px;
    }
}