.sign{
    height: 100vh;
}

.done{
    display: flex;
    flex-wrap: wrap !important;
    margin: 40px 100px;
    color: white;
}

.heading{
    display: inline-block;
    text-decoration: underline;
    color: #e8c500;
    font-weight: bolder;
    font-size: 50px;
}

.col{
    color:#ffd700 !important;
}

.price{
    margin-left: auto;
    display: inline;
    font-weight: bolder;
    color: white;
}

.chckout{
    margin-left: auto;
    display: inline;
    height: 60px;
    width: 130px;
    border: none;
    background-color: #ffd700;
    border-radius: 10px;
    font-size: larger;
    font-weight: bolder;
    color: black;
}

.chckout:hover{
    background-color: rgba(255, 215, 0, 0.8);
    border: solid;
    border-color: black;
    border-width: 0.1px;
}


.tabl{
    display: flex;
    justify-content: center;
    border: solid;
    margin: 40px 100px;
    padding: 20px;
    background-color: transparent;
    font-weight: bolder;
    font-size: 23px;
    color: white;
}



#wave{
    position: absolute;
    bottom: 0px;
    z-index: -1;
}

@media only screen and (min-device-width : 530px) and (max-device-width : 889px){
    .heading{
        font-size: 35px;
    }

    .chckout{
        font-size: 20px;
        height: 40px;
        width: 110px;
    }

    .price{
        font-size: 25px;
    }

    .tabl{
        font-size: 20px;
        margin: 0px 20px;
        border: none;
    }

    .done{
        margin: 40px 20px;
    }
}

@media only screen and (max-device-width : 529px){
    .heading{
        font-size: 45px;
    }

    .chckout{
        font-size: 20px;
        height: 35px;
        width: 105px;
    }

    .price{
        font-size: 25px;
        margin: 0px;
    }

    .tabl{
        font-size: 12px;
        margin: 0px 20px;
        padding: 0px;
        border: none;
    }

    .done{
        margin: 40px 20px;
    }

    .del{
        font-size: 15px !important;
        padding: 0px !important;
        margin: 0px !important; 
    }
}