/* Navbar */
.wavi{
    position: absolute;
    z-index: 2;
    top: 38px;
}

.navbari {
    background-color: #ffd700 !important;
    z-index: 200;
}

.brand{
    font-family: 'Sedgwick Ave', cursive;
    letter-spacing: 2px;
    margin: 0px auto !important;
    text-align: center !important;
    z-index: 3;
    color: black;
    font-weight: bolder;
}

.brand:hover{
    color: black;
}

.home{
    color: black !important;
    font-weight: bolder;
}

.sign, .log, .cart, .logout{
    margin-right: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    height: 39px;
    width: 92px;
    text-align: center;
    font-size: large;
    font-weight: 900;
    z-index: 3;
}

.cart{
    border: none;
}

h6{
    display: inline;
    position: relative;
    margin-left: 2px;
    bottom: 10px;
}

.sign:hover, .log:hover{
    background-color: rgba(255,255,255,0.5);
    border: solid;
    border-width: 0.2px;
    
}

.cart:hover{
    background-color: rgba(211, 180, 0, 0.8);
    border: solid;
    border-width: 0.2px;
}

.logout:hover{
    background-color: rgba(255, 0, 0, 0.9);
    border: solid;
    border-width: 0.2px;
    
}

.logbtns{
    display: flex !important;
}

@media only screen and (max-device-width : 749px){
    .brand{
        margin-left: 10px;
    }
    .home, .log, .sign{
        margin-left: 10px;
    }
    .logbtns{
        flex-direction: column;
        z-index: 3;
    }

    .sign{
        margin-top: 10px;
    }

    .wavi{
        top: 55px;
    }

    .cart, .logout{
        margin-left: 5px;
        text-align: left;
    }
}

@media only screen and (max-device-width : 991px) and (min-device-width : 750px){
    .home, .log, .sign{
        margin-left: 50px;
    }

    .cart, .logout{
        margin-left: 42px;
        text-align: left;
    }

    .sign{
        margin-top: 10px;
    }
    
    .logbtns{
        flex-direction: column;
        z-index: 3;
    }

}
@media only screen and (min-width: 750px) and (max-width: 1150px){
    .wavi{
        top: 60px;
    }
}